<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>PlopID - {{ page_name }}</title>
</head>
<body>
	<header>
		<h1>PlopID IdP server</h1>
	</header>
	<main>
		<h2>Authentication required</h2>
		<form method="POST" action="/authn/login_pwd">
			<ul>
				<li>
					<label for="u_login">Login:</label>
					<input id="u_login" name="u_login" type="text" autofocus="true" minlength="4" maxlength="64" required="true"/>
				</li>
				<li>
					<label for="u_password">Password:</label>
					<input id="u_password" name="u_password" type="password" minlength="12" maxlength="64" required="true"/>
				</li>
			</ul>
			<input type="submit" value="Login"/>
		</form>
	</main>
	<footer>
		Proudly powered by <a href="">PlopID</a>.
	</footer>
</body>
</html>
